<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <title>Spotify VUE</title>
</head>
<body>
    <section id="app">

        <header>
            <div class="container">
                <div class="logo">
                    <img src="../images/logo.png" alt="logo">
                </div>
                <div class="nav">
                    <select name="genres" v-model="select" @change="onChange($event)">
                        <option value="">filtra per genere</option>
                        <!-- <option  v-for="(elm, index) in genres" :key="index" :value="elm">{{elm}}</option> -->
                        <option value="Pop">pop</option>
                        <option value="Rock">rock</option>
                        <option value="Jazz">jazz</option>
                        <option value="Metal">metal</option>
                    </select>

                    </select>
                </div>
            </div>
        </header>
        <main>
            <div class="container_centered">
                <div class="cards" >
                        <div class="card" v-for ="(elm, index) in albums" :key="index">
                            <div class="card-img">
                                <img :src="elm.poster" :alt="elm.title">
                            </div>
                            <div class="card-description">
                                <h3>{{elm.title}}</h3>
                                <p class="author">{{elm.author}}</p>
                                <p>{{elm.genre}}</p>
                                <p>{{elm.year}}</p>
                            </div>
                        </div>
                </div>
            </div>
        </main>
    </section>
    
<!-- JS, VUE.JS -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/script.js"></script>
<!-- JS, VUE.JS -->
</body>
</html>